<p>ayeWALLET is an app providing basic tracking of expenses. Each expense is created with description of the purchase, its value in $, merchant name and category tag. Each expense is listed in transactions list where can be tracked and edited. ayeWALLET keeps an eye on your budget and provides you immediate comparison with total spent amount. ayeWALLET also let's you find out how much was spent in each category, by searching through all transactions by tag. Choose one of the following links for desired action.</p>
<br>
<a class="main_links" href="/transactions">See all transactions</a>
<br>
<a class="main_links" href="/transactions/new">Add new transaction</a>
<br>
<a class="main_links" href="/account">Manage account</a>