<!DOCTYPE html>
<html>
<head>
  <title>ayeWALLET</title>
  <link href="/images/ayeWallet_icon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="/style.css" rel="stylesheet" type="text/css" >
</head>
<body>
  <header class="header">
    <div class="inside_header">
      <a href="/"><img src="/images/ayeWallet_icon.png" alt="coin"></a>
      <div class="heading1">
        <a href="/"><h1>ayeWALLET</h1></a>
      </div>
      <div class="heading2">
        <h2>Personal Cash Tracker</h2>
      </div>
    </div>
  </header>
  <nav class="nav">
    <div class="inside_nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/transactions">TRANSACTIONS</a></li>
        <li><a href="/account">ACCOUNT</a></li>
      </ul>
    </div>
  </nav>
  <div class="big-block">
  </div>
 
  <section class="main_section">
  <%= yield %>
  </section>
  <br>
</body>
</html>