<!DOCTYPE html>
<html>
<head>
  <title>ayeWallet</title>
  <link rel="icon" href="/" />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>ayeWallet</h1>
  <p>Personal Cash Tracker</p>

  <section>
  <%= yield %>
  </section>

</body>
</html>