<!DOCTYPE html>
<html>
<head>
  <title>ayeWallet</title>
  <link rel="icon" href="/images/ayeWallet_icon.png" />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <a href="/"><h1>ayeWallet</h1></a>
    <p>Personal Cash Tracker</p>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a>
      <li><a href="/transactions">Transactions</a>
      <li><a href="/account">Account</a>
    </ul>
  </nav>
 

  <section>
  <%= yield %>
  </section>

</body>
</html>