@media screen and (min-width: 480px) {

  .nav li {
    display: inline-block;
    width: 150px;
    /* background-color: orange;*/
    padding: 2.5px 10px 2.5px 10px;
    text-align: center;
  }

  .big-block {
    height: 160px;
  }

  @media screen and (min-width: 550px) {

    .inside_header h1 {
      padding: 15px 0px 5px 0px;
      margin: 0 100px 0 20px;
    }

    .inside_header h2 {
      padding: 5px 0px 0px 10px;
      margin: 0 100px 0 20px;
    }

    .inside_header img {
      margin-left: 50px;
    }

    .nav li {
      display: inline-block;
      width: 170px;
      /* background-color: orange;*/
      padding: 2.5px 10px 2.5px 10px;
      text-align: center;
    }

    @media screen and (min-width: 700px) {

      .inside_header img {
        margin-left: 100px;
      }

      .nav ul {
        width: 80%;
        padding-left: 5px 0 5px 100px;
      }

    @media screen and (min-width: 800px) {

      .inside_header {
        width: 80%;
      }

      .inside_header h1 {
        padding: 15px 0px 5px 0px;
        margin: 0 200px 0 20px;
        font-size: 50px;
      }

      .inside_header h2 {
        padding: 5px 0px 0px 10px;
        margin: -10px 200px 0 20px;
        font-size: 25px;
      }

      .inside_header img {
        margin-left: 0px;
      }

      .inside_nav {
        display: block;
        width: 80%;
        margin: 0 auto;
      }

      .nav ul {
        width: 100%;
        padding: 5px 0px;
        margin-left: -40px;
      }

      .nav li {
        display: inline-block;
        width: 200px;
        /* background-color: orange;*/
        padding: 2.5px 10px 2.5px 10px;
        text-align: center;
      }

      .main_section {
        width: 80%;
      }
      
      .tags {
        width: 30%;
      }

      @media screen and (min-width: 900px) {
        table {
          font-size: 16px;
        }

      }

    }

  }

}

