/*************************
GENERAL
*************************/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #08593A;
  background-color: #60DAFF;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #e9d191;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

p {
  font-size: 17px;
}
/*************************
HEADER
*************************/
.header {
  background-color: #186E88;
  color: #60DAFF;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  height: 125px;
  z-index: 999;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: #e9d191;
}

.inside_header {
  width: 60%;
  margin: 0px auto;
}

.inside_header img {
  display: inline;
  float: left;
  width: 125px;
  height: 125px;
  padding: 15px;
}

.inside_header h1 {
  display: inline;
  float: left;
  font-size: 50px;
  padding: 30px 5px;
}

.inside_header h2 {
  display: inline;
  float: left;
  font-size: 30px;
  padding: 50px 5px 0 10px;
}

.big-block {
  height: 175px;
}


/*************************
NAV
*************************/
.nav {
  display: block;
  background-color: #3BB1D4;
  position: fixed;
  width: 100%;
  top: 125px;
  z-index: 1000;
}

.inside_nav {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.nav ul {
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px 0px 40px;
}

.nav li {
  display: inline-block;
  padding: 5px 150px 5px 0;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #e9d191;
}

/*************************
SECTION GENERAL
*************************/

.main_section {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
}

.main_section p {
  color: #186E88;
  font-size: 17px;
}

.main_section a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.main_section a:hover {
  color: #e9d191;
}

.main_links {
  display: block;
  padding: 0;
  margin: 0;
}

/*************************
SECTION ACCOUNT
*************************/

.account_info {
  display: inline-block;
}

/*************************
BTNS AND FORMS
*************************/

input[type="submit"] {
  text-transform: uppercase;
}

select {
 width: 150px;
 padding: 8px 12px;
 font-size: 12px;
 border-radius: 5px;
 -webkit-appearance: none;
 margin: 2px;
 background-color: white;
}

.btn {
  border:0px none;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  color: black;
  cursor:pointer;
  margin: 2px;
}

.btn:hover {
  background-color: #e9d191;
}

/*****************************
TABLES
******************************/

td, th {
  text-align: left;
  border-right: 0.1px solid white;
  border-left: 0.1px solid white;
}

td {
  padding: 5px 10px;
}

th {
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  border-top: 0.1px solid white;
  border-bottom: 0.1px solid white;
  margin: 10px 0;
  font-size: 15px;
}

thead {
  border-bottom: 0.1px solid white;
}