<h1>Edit tag</h1>

<form action="/account/tags/<%= @tag.id %>" method="post">
  <label> Category <input class="btn"  type="text" name="category" value="<%= @tag.category %>"/> </label>
  <input class="btn" type="submit" value="Edit category">
</form>