<h1> Category management </h1>
<br>
<p>Add new category that suits your expenses more accurately by clicking on following link.</p>
<br>
<a href='/account/tags/new'>Add new category</a>
<br>
<br>
<p> Edit any of existing categories by clicking on related edit button in table below.</p>
<br>
<table>
  <thead>
    <tr>
      <th scope=”col”>ID</th>
      <th scope=”col”>Category</th>
      <th scope=”col”>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.sort! { |tag1, tag2| tag1.id <=> tag2.id } %>
    <% for tag in @tags %>
    <tr>
      <th scope=”row”><%= tag.id %></th>
      <td><%= tag.category %></td>
      <td>
        <form action="/account/tags/<%= tag.id %>/edit" method="get">
          <input class="btn" type="submit" value="edit" />
        </form>
      </td>
    </tr>
    <% end %> 
  </tbody>
</table>