<h1>Add new category:</h1>

<div>
  
  <form action="/account/tags" method="post">
    <label>
      Category: 
      <input class="btn" type="text" name="category"/>
    </label>
    <input class="btn" type="submit" value="Add new category">
  </form>

</div>