<h1>Add new category:</h1>
<br>
<form action="/account/tags" method="post">
  <label>
    Category: 
    <input class="btn" type="text" name="category"/>
  </label>
  <input class="btn" type="submit" value="Add new category">
</form>
<br>
<a href="/account/tags">Back to categories</a>