<h1>Edit tag</h1>

<form action="/account/<%= @tag.id %>" method="post">
  <label> Category <input type="text" name="category" value="<%= @tag.category %>"/> </label>
  <input type="submit" value="Edit category">
</form>