<h1>Add new category:</h1>

<div>
  
  <form action="/account" method="post">
    <label>
      Category: 
      <input type="text" name="category"/>
    </label>
    <input type="submit" value="Add new category">
  </form>

</div>